# Django Settings
DEBUG=True
SECRET_KEY=your-secret-key-change-in-production

# Database MySQL
DATABASE_NAME=library_db
DATABASE_USER=root
DATABASE_PASSWORD=Taha@2026Mysql
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306

# Email Configuration
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password

# Redis/Celery
REDIS_URL=redis://localhost:6379
CELERY_BROKER_URL=redis://localhost:6379
CELERY_RESULT_BACKEND=redis://localhost:6379

# Application URLs
ALLOWED_HOSTS=localhost,127.0.0.1

# Email Notifications
SEND_EMAILS=True
DEFAULT_FROM_EMAIL=noreply@library.com
